streamlit
feedparser
requests
python-dateutil
pytz
beautifulsoup4
readability-lxml
trafilatura
sqlite-utils
sentence-transformers==3.0.1
chromadb==0.3.29
scikit-learn==1.4.2
pydantic >=1.9, <2.0
pyyaml
tqdm
tenacity
ragas
openai>=1.40.0,<2.0.0
litellm>=1.35.3
